<div class="nav-setting">
    <div class="ui buttons">
        <div class="ui floating dropdown button">
            <i class="icon bars"></i>
            <div class="menu">
                <% if (user) { %>
                    <a class="item" href="/posts?author=<%= user._id %>">PersonalPage</a>
                    <div class="divider"></div>
                    <a class="item" href="/posts/create">PostArticle</a>
                    <a class="item" href="/signout">SignOut</a>
                <% } else { %>
                    <a class="item" href="/signin">SignIn</a>
                    <a class="item" href="/signup">SignUp</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
